Clarification of Preference-Applied header

The Fedora specification includes this line:

> Responses to GET requests that apply a Prefer request header to any LDP-RS must include the Preference-Applied response header as defined in [RFC7240] section 3.

This is ambiguous and should be clarified.

What if a Prefer request is partially applied? If a Prefer header includes a category of triples that does not exist on the server for the given resource, what then? E.g. a request to a LDPC that has no children but with a prefer header of `include="http://www.w3.org/ns/ldp#PreferContainment"`. Or a request to include member triples from a resource that has no member triples? If a resource has no such category of triples, is that a "successful application of the Prefer request"?

If the Fedora spec is going to refine/strengthen RFC 7240, then it should at least be clear what is meant and not introduce more ambiguity. At the very least, I think the text here should read "Responses to GET requests that _successfully_ apply a Prefer request...".

I think this example is _exactly_ the situation this is meant to address — see #81.  In short, if a client sends a Prefer header with `include="http://www.w3.org/ns/ldp#PreferContainment"` and receives a response with no containment triples, the presence of the `Preference-Applied` header helps the client tell the difference between those triples not existing, as opposed to simply not being included in the response for whatever reason.

I don't think adding "successfully" helps here (because the question then becomes what does successfully mean).  But it may be helpful to add to that section something like "even if no additional triples were added to the response".

OK, fair enough.