Clarify many links rather than many link headers

Particularly in [LDPRv GET](https://fcrepo.github.io/fcrepo-specification/#ldprv-get), it seems confusing that we list a set of "Link headers" that are required, when these are best expressed as a set of links in ONE `Link:` header.

This seems misleading/confusing. I note that in LDP the language is often similar and somewhat confusing. Although appealing, the term "link relation" is used in LDP and [RFC5988 sec4](https://tools.ietf.org/html/rfc5988#section-4) is used for the predicate, so I think talking about **links** following [RFC5988 sec3](https://tools.ietf.org/html/rfc5988#section-3) that are expressed in a `Link:` header would be the best option.

Aside: This issue got me to checking single vs multiple `Link:` headers. TLDR: one `Link:` header with comma separated list is equivalent to many `Link:` headers, the former is typically preferred.

[RFC5988 sec5](https://tools.ietf.org/html/rfc5988#section-5) defines the `Link:` header as:

```
 Link           = "Link" ":" #link-value
```

where from the BNF definition in [RFC2616](https://tools.ietf.org/html/rfc2616#section-2.1) `#link-value` means a comma-separated list of values.

General rules for headers in [RFC2616](https://tools.ietf.org/html/rfc2616#section-4.2) and earlier in [RFC2068](https://tools.ietf.org/html/rfc2068#section-4.2) say:

> Multiple message-header fields with the same field-name may be present in a message if and only if the entire field-value for that header field is defined as a comma-separated list \[i.e., #(values)]. It MUST be possible to combine the multiple header fields into one "field-name: field-value" pair, without changing the semantics of the message, by appending each subsequent field-value to the first, each separated by a comma.
 
This was updated in [RFC7230](https://tools.ietf.org/html/rfc7230#section-3.2.2) to a slightly clearer:

> A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list \[i.e., #(values)]or the header field is a well-known exception (as noted below).
>
> A recipient MAY combine multiple header fields with the same field name into one "field-name: field-value" pair, without changing the semantics of the message, by appending each subsequent field value to the combined field value in order, separated by a comma.

I have historically preferred multiple, repeated message-header fields for consistency and readability... but the RFCs are pretty clear in the other direction.

I support the sentiment of such an update. :+1: 