Is it necessary to clarify HEAD behavior?

Given [RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.2) (HTTP/1.1):

> The HEAD method is identical to GET except that the server MUST NOT send a message body in the response (i.e., the response terminates at the end of the header section).  The server SHOULD send the same header fields in response to a HEAD request as it would have sent if the request had been a GET, except that the payload header fields (Section 3.3) MAY be omitted.  This method can be used for obtaining metadata about the selected representation without transferring the representation data and is often used for testing hypertext links for validity, accessibility, and recent modification.

And given LDP's [statement](https://www.w3.org/TR/ldp/#ldpr-resource) about HTTP HEAD requests:

> Note that certain LDP mechanisms rely on HTTP headers, and HTTP generally requires that HEAD responses include the same headers as GET responses. Thus, implementers should also carefully read sections 4.2.2 HTTP GET and 4.2.8 HTTP OPTIONS.

> 4.2.6.1 LDP servers must support the HTTP HEAD method.

My question is this: is it necessary to restate this in the specification:

> The HEAD method is identical to GET except that the server must not return a message-body in the response, as specified in [RFC2616] section 9.4.

I'd say yes, the statement should stay, for two reasons:

  * because not having the statement has caused uncertainty
  * the new statement is slightly stronger/clearer than the HTTP and LDP ones

but we should certainly fix the statement to link to RFC7231 and not RFC2616!

@zimeon can you clarify how this statement (from the Fedora specification):

> The HEAD method is identical to GET except that the server MUST NOT return a message-body in the response

clarifies or strengthens this statement (from RFC 7231):

> The HEAD method is identical to GET except that the server MUST NOT send a message body in the response

Other than the inclusion of a hyphen in the Fedora spec, they seem pretty identical to me.

@acoburn - This is pretty funny, I hadn't noticed that the first sentence was the same because the overall sense of RFC 7231 seems so much weakened by the text that follows -- the use of the _same_ headers for HEAD as GET is just SHOULD & MAY which would make support for our use of  [`Want-Digest`](https://fcrepo.github.io/fcrepo-specification/#httpGETLDPNR) with HEAD effectively a MAY. I think we it should be tighter than that, perhaps:

> The HEAD method is identical to GET except that the server MUST NOT return a message-body in the response, as defined in [RFC7231 section 4.3.2](https://tools.ietf.org/html/rfc7231#section-4.3.2). The server MUST send the same header fields in response to a HEAD request as it would have sent if the request had been a GET.

but I'm not not sure whether we should add a similar exclusion for payload fields as RFC7231 continues...

> , except that the payload header fields (Section 3.3) MAY be omitted.

@zimeon I agree with the general intent of this strengthening, but this is really a case of "the devil is in the details". By which I mean that in my experience there are many popular web frameworks (JAX-RS/Jersey being one of them) where it's actually not always possible to follow this recommendation. Specifically, the `Content-Length` header is extremely problematic. I have put in many hours of work on the current Fedora4 implementation to make the `Content-Length` response header identical in `HEAD` and `GET` requests and have eventually given up, deciding that it is simply not possible. This is why, in my opinion, RFC 7231 is wishy-washy about the the "identicalness" of the headers.

That said, I think that if the Fedora spec strengthens RFC 7231 in this way, it will lead to some serious implementation issues if one is to follow "the letter of the law", which is what you kind of have to do with technical specifications.

This is also why I'm suggesting that the editors tread carefully on this issue.

@zimeon this may just be a style thing, but I'd suggest removing the normative language that simply restates RFC 7231 and include some non-normative language about how HEAD requests with `Want-Digest` ought to respond with an appropriate `Digest` header. 

There is also a whole class of range requests that may also prove very difficult with the `Want-Digest` header. I think that implementations really do want to "do the right thing" here, but there are some categories of requests + LDP-NR storage layers that may need some additional flexibility.

I would also mention that there are categories of implementations serving LDP-RS that _could_ also support `Want-Digest` for those LDP-RSs (static-ldp is one of these). Simply stating that all resources `SHOULD` support RFC 3230 would both broaden the scope of fixity while also giving implementations room to have flexibility where necessary.

@acoburn - Thanks for your additional input. I'm also inclined to be cautious about unduly burdening implementations on MUST support headers for GET, perhaps we should just enumerate ones that are MUST for Fedora (e.g. `Digest` in the case of a `Want-Digest` request).

Regarding style and inclusion of language from underlying specs, I think the eds will have to put their heads together and make a decision on this one in the near future. I think we should have a consistent approach.

@acoburn just to check that expectations match, wasn't `Want-Digest` specifically designed not to be obscure about range-requests: The introduction seems to say (in its discussion of HTTP 206) that the Digest header relates to the instance the message describes, and not to a given response entity?

That is, the introduction in https://tools.ietf.org/html/rfc3230

@barmintor you are correct. I was confusing `Digest` with `Content-MD5`. `Digest` clearly refers to the entire file, not the HTTP entity (which in the context of partial content can, indeed, be quite different).

As I understand, @barmintor has to be correct here on the grounds that digests are not associated with responses in particular, but [with any message](https://tools.ietf.org/html/rfc3230#section-4.2).