Should the `Preference-Applied` response header include parameters?

 [Example 20/21 in LDP](https://www.w3.org/TR/ldp/#prefer-examples-direct-minimal-container-only1) and https://tools.ietf.org/html/rfc7240#section-3:

> The syntax of the Preference-Applied header differs from that of the Prefer header in that parameters are not included

suggest that the `Preference-Applied` response header should include only the preference name (i.e. `return=representation`) and not the parameters (e.g. `omit="..."`). This is at odds with the Fedora 4 spec/implementation as shown in the [examples for GET](https://wiki.duraspace.org/display/FEDORA4x/RESTful+HTTP+API+-+Containers#RESTfulHTTPAPI-Containers-GETRetrievethecontentoftheresource).

We have two choices I think:

  1. Follow RFC7240 and LDP, and return only `Preference-Applied: return=representation`
  2. Deviate from RFC7240 and keep Fedora 4 behavior which means we'd need to document that in the API spec.

I think we should do the former as we are trying to follow where possible. (See also https://github.com/fcrepo4-labs/Fedora-API-Test-Suite/issues/50)

I think I am fine with following RFC7240/LDP, but I do have one question: does the `Preference-Applied: return=representation` response header imply that all `omit`/`include` preferences were also applied?  If so, then I think it's fine.  But if not, it might be hard for a client to know what they are getting.

@escowles sadly no -- `Preference-Applied` is a _MAY_ in both RFC7240 and LDP, and semantics are pretty fuzzy:

> The Preference-Applied response header MAY be included within a response message as an indication as to which Prefer tokens were honored by the server and applied to the processing of a request.
> ...
> Use of the Preference-Applied header is only necessary when it is not readily and obviously apparent that a server applied a given preference and such ambiguity might have an impact on the client's handling of the response.

We make adding `Preference-Applied` a _MUST_ (https://fcrepo.github.io/fcrepo-specification/#http-get-ldprs) but so far do not specify the condition for including it. I would be fine to change to:

> Responses to `GET` requests that apply a `Prefer` request header to any LDP-RS _MUST_ include the `Preference-Applied` response header as defined in [RFC7240] section 3 **if and only if all requested preferences were applied**.

@zimeon : I support your wording suggestion:
> Responses to GET requests that apply a Prefer request header to any LDP-RS MUST include the Preference-Applied response header as defined in [RFC7240] section 3 if and only if all requested preferences were applied.

Conclusion is that, per RFC7240, the `Preference-Applied` response header should not include the parameters. If all `return=representation` preferences were applied then the server MUST include:

```
Preference-Applied: return=representation
```

but if any of the `omit` or `include` parameters were not applied, then no `Preference-Applied` response header is included


My problem here is that the `return` parameter is not a special case elsewhere in 7240 - the example and the text are in contradiction.

EDIT: Oh, I see - it's dependent on order. The first token is the preference.

this seems weird to me: If some of the `return=representation` preferences were applied, but none of the `omit=foo` preferences were, but all of the `handling=bar` preferences were, shouldn't the response include `Preference-Applied: handling=bar`?

@barmintor's https://github.com/fcrepo/fcrepo-specification/issues/349#issuecomment-380542453 points out a problem with my suggested addition -- it isn't the case that the `Preference-Applied` header should be included **if and only if all requested preferences were applied** but instead it should be included (for a given preference) **if and only if a requested preference was applied in full (by applying all specified parameters)**. The Fedora API and LDP talk about only one preference (called, rather confusingly, `return=representation`) and it is all `omit` and `include` parameters that must be applied in order to trigger a `Preference-Applied: return=representation` response header.