Include `Vary` header in LDPRv `OPTIONS` response

re https://fcrepo.github.io/fcrepo-specification/#LDPRv

In addition to `GET` and `HEAD`, I think `Vary: Accept-Datetime` should appear in the response header of an `OPTIONS` request. Right?

Suggested change (either one of):
* "Vary: Accept-Datetime, exactly as per [RFC7089] section 2.1.2." should move from https://fcrepo.github.io/fcrepo-specification/#LDPRv-get-response to https://fcrepo.github.io/fcrepo-specification/#LDPRv-general and state that it *MUST* be in the response of `GET`, `HEAD`, and `OPTIONS`.
* Create subsection for `OPTIONS` ( https://fcrepo.github.io/fcrepo-specification/#LDPRv-options-response ), and mention the same requirement as in https://fcrepo.github.io/fcrepo-specification/#LDPRv-get-response

Unless there is a particular reason to constrain the `Vary`'s value for Fedora implementations, let's note that https://tools.ietf.org/html/rfc7089#section-2.1.2 doesn't restrict `Vary` to only `Accept-Datetime` as a value. Hence, perhaps instead of saying "exactly", it should say `Accept-Datetime` *MUST* be included in the `Vary` header. This is so that if the implementation includes other negotiation dimensions for that LDRPv, they are not restricted from doing so.



@csarven : Thanks for the suggestion. I am trying to sort out the applicability of adding `Vary` to the `OPTIONS` response.
My understanding is that the headers in the [`OPTIONS` response ](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.2) include hints to the client regarding capabilities available on a resource, such as detailing which methods are available to the client on a resource:
```
Allow: GET, HEAD
```
..or which serializations can be `POST`ed:
```
Accept-Post: text/turtle,text/rdf+n3
```
Use of `Vary` in responses to a `GET` or `HEAD` on a TimeGate, [as specified in Memento](https://tools.ietf.org/html/rfc7089#section-2.1.2) makes sense.
I am certainly open to the suggestion, but am wondering if including `Vary` headers is recommended practice on `OPTIONS` requests.
For example, in the absence of Memento, do you recommend including `Vary: accept` on `OPTIONS` responses?



I have a PR to require redirecting when doing Datetime negotation (https://github.com/fcrepo/fcrepo-specification/pull/263), so that should address any caching issues.  And we already require including `Vary: Accept-Datetime` in the response too.  So I don't think there is anything we need to include in the OPTIONS response.

@csarven Is there anything I'm missing above?

@csarven We're clearing out old issues as we finalize the candidate recommendation — please feel free to open a new issue if your concerns aren't addressed in the draft.