Add GET and HEAD sections for LDPCv

I would like to propose that the specification include sections dedicated to describing GET and HEAD requests to LDPCv's, and moving the last sentence of the first paragraph from section 4.3.1.

My current suggested text:

> 4.3.2 HTTP GET
An LDPCv must respond to GET Accept: application/link-format as indicated in [RFC7089] section 5 and specified in [RFC6690] section 7.3.
It should respond with the Allow header as outlined in 4.3.x HTTP OPTIONS.
It must respond with a Content-Type header.
It must respond with Accept-Post if Post requests to the LDPCv are allowed.  If POST is supported but bodies are not accepted, then it must respond with Accept-Post: */*; p=0.0
It must respond with Accept-Patch if Patch requests to the LDPCv are allowed.

> 4.3.3 HTTP HEAD
The HEAD method is identical to GET except that the server must not return a message-body in the response.

I agree with the idea of adding these sections, it seems much more logical to put the things like support for `Accept: application/link-format` in a section on GET than in the preceding [General](https://fcrepo.github.io/fcrepo-specification/#general-3) section.

@bbpennel : Please feel free to submit a PR.